$base-bar-green: #00A651;
$base-bar-gray: #A9A9A9;
$base-light-gray: #888;
$base-dark-gray: #333;


.steps-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin: 0 auto;
    font-family: Arial, sans-serif;

    .steps-info {
        flex: 1;

        .steps-header {
            color: $base-bar-green;
            font-weight: bold;
            font-size: 18px;
            margin: 0;
        }

        .steps-count {
            font-size: 24px;
            color: $base-dark-gray;
            font-weight: bold;
            margin: 5px 0 0;

            span {
                font-size: 14px;
                color: $base-light-gray;
                font-weight: normal;
            }
        }
    }

    .bar-chart-container {
        width: 150px;
        height: 80px;
        padding-left: 5px;
        

        .recharts-bar-rectangle {
            &.green {
                fill: $base-bar-green
            }

            &.gray {
                fill: $base-bar-gray;
            }

            transition: opacity 0.3s ease;
            opacity: 1;

            &:hover {
                opacity: 1 !important;
            }
        }

        &:has(.recharts-bar-rectangle:hover) .recharts-bar-rectangle {
            opacity: 0.4;
        }
    }
}



.custom-tooltip {
    font-size: 0.7rem;
    transform: translateX(50%);
    z-index: 1;
    position: absolute;
}

.recharts-label-list {
    font-size: 0.3rem;
    z-index: 1;

}


@media (max-width: 400px) {
    .steps-container {
        flex-direction: column;
        align-items: center;

        .steps-info {
            margin-bottom: 1rem;
            text-align: center;
        }

        .bar-chart-container {
            width: 100%;
            max-width: 90%;
            padding-left: 0;
        }
    }
}

